DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@your-neon-host.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your_super_secret_jwt_key_here"
PORT=5030
FRONTEND_URL="http://your-frontend-url:3030"
